@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap'); 

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.container{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: #e2e1dd;
}
.navigator{
    display: flex;
    justify-content: space-between;
    padding: 36px 36px;
}
nav{
    display: flex
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul{
    margin-right: 20px;
}
ul li{
    margin-right: 50px;
}
ul li:last-child{
    margin-left: 0;
}
li a{
    text-decoration: none;
    color: #87877e;
}
.navigator_nav_store_profile{
    display: flex;
    cursor: pointer;
}
.navigator_nav_store_profile--store{
    margin-right: 30px;
}
.furniture{
    background: url(img/background.png) no-repeat center /100%;
    padding: 86px 0;
    min-height: 832px;
}
.furniture_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.furniture_container_search h2{
    margin-bottom: 51px;
}
.furniture_container_search > h2{
    width: 511px;
    height: 99;
    font-size: 60px;
}
.furniture_container_search--bar > input{
    width: 468px;
    height: 42px;
    border-radius: 20px;
    padding: 20px;
}
.furniture_container_search--bar > button{
    width: 153px;
    height: 42px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    background-color: #2d2d1f;
    color: #bdbdb9;
    bottom: 1px;
    left: 316px;
}
.furniture_container_desc{
    width: 569px;
    height: 68;
    font-size: 30px;
}
.furniture_prices{
    position: relative;
}
.furniture_prices_krita_circle--content{
    background-color: #454438;
    width: 214px;
    height: 250px;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    left: 37px;
    top: 70px;
}
.furniture_prices_krita_circle--content_title, 
.furniture_prices_krita_circle--content_desc, 
.furniture_prices_krita_circle--content-price, 
.furnitreu_prices_krita_circle--content_shop, 

.furniture_prices_vimle_circle--content_title, 
.furniture_prices_vimle_circle--content_desc, 
.furniture_prices_vimle_circle--content-price, 
.furniture_prices_vimle_circle--content_shop{
    padding: 10px;
}
.furniture_prices_krita_circle--content_title{
    color: #eeedea;
    text-align: center;
}
.furniture_prices_krita_circle--content_desc{
    color: #a5a59d;
    text-align: center;
}
.furniture_prices_krita_circle--content-price{
    color: #bbba9b;
    text-align: center;
    font-size: 20PX;
}
.furniture_prices_krita_circle--content_shop > p{
    border: 1px solid #908f76;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    color: #cccba8;
    width: 152PX;
    text-align: center;
}
.furniture_prices_krita_circle{
    position: relative;
}
.furniture_prices_krita_circle--cirlce{
    background-color: #454438;
    width: 23px;
    height: 23px;
    border-radius: 15px;
    position: absolute;
    top: 336px;
    left: 127px;
}
.furniture_prices_vimle{
    position: relative;
}
.furniture_prices_vimle_circle--content{
    background-color: #454438;
    width: 214px;
    height: 250px;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 47px;
    right: 515px
}
.furniture_prices_vimle_circle--content_title{
    color: #eeedea;
    text-align: center;
} 
.furniture_prices_vimle_circle--content_desc{
    color: #a5a59d;
    text-align: center;
} 
.furniture_prices_vimle_circle--content-price{
    color: #bbba9b;
    text-align: center;
    font-size: 20PX;
}
.furniture_prices_vimle_circle--content_shop{
    border: 1px solid #908f76;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    color: #cccba8;
    width: 152PX;
    text-align: center;
}
.furniture_prices_vimle_circle--cirlce{
    background-color: #454438;
    width: 23px;
    height: 23px;
    border-radius: 15px;
    position: absolute;
    right: 612px;
    top: 312px;
}