@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&family=Oswald:wght@200;300;400;500;600;700&display=swap'); 

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.container{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: #e2e1dd;
}
.navigator{
    display: flex;
    justify-content: space-between;
    padding: 36px 36px;
}
nav{
    display: flex
}
nav ul{
    display: flex;
    list-style: none;
}
ul{
    margin-right: 30px;
}
li{
    margin-left: 20px;
}
li a{
    text-decoration: none;
    margin-left: 108px;
    color: #87877e;
}
li:last-child{
    margin-left: 0;
}
.navigator_nav_store_profile{
    display: flex;
}
.navigator_nav_store_profile--store{
    margin-right: 30px;
}